html
    head
        title ComicJS
        script(type='text/javascript' src='/components/jquery/jquery.js').
        script(type='text/javascript' src='/components/underscore/underscore.js').
        script(type='text/javascript' src='/components/backbone/backbone.js').
        link(rel='stylesheet' type='text/css' href='/styles.css')
    body
        img(src='http://www.editions-delcourt.fr/special/chroniques_de_sillage/images/planches/T2-2-P1.jpg' id="board")
        script(type='text/javascript' src='/comic.js').
        section(id='content').